header {
  background: white;

  .wrap {
    display: flex;
    justify-content: space-between;
    height: 10rem;
    align-items: center;
  }

  nav {
    display: flex;
    align-items: center;

    > div {
      margin-left: 2em;

      @media (max-width: 1200px) {
        display: none;

        &:last-child {
          display: block;
        }
      }
    }
  }

  .icon img {
    width: 12rem;
  }

  @media (max-width: 800px) {
    button {
      padding: 1em;
    }
  }
}
