* {
    box-sizing: border-box;
  }

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  position: relative;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.wrap {
  max-width: 120rem;
  margin: 0 auto;

  @media (max-width: 100rem) {
    padding: 0 2rem;
  }
}

button {
  padding: 1em 3rem;
  background: #0b486b;
  border: none;
  color: white;
  border-radius: 2.5rem;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s background-color;

  &:hover {
    background: darken(#0b486b, 5);
    transition: .3s background-color;
  }
}

@import './particles.scss';
@import './header.scss';
@import './ie.scss';
@import './main.scss';
@import './presentation.scss';
@import './chart.scss';
@import './footer.scss';
